--
-- PostgreSQL database dump
--

\restrict 7qagayvgap39bmibgFgnoBZ1uXkTWP1BKp7fWAnFhWvveCzJymDlpAC0zhegRAr

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: cfg_db_new_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO cfg_db_new_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_responses; Type: TABLE; Schema: public; Owner: cfg_db_new_user
--

CREATE TABLE public.ai_responses (
    id integer NOT NULL,
    feature_type character varying(50) NOT NULL,
    input_hash character varying(64) NOT NULL,
    response_data json NOT NULL,
    tokens_used integer,
    model_used character varying(50),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ai_responses OWNER TO cfg_db_new_user;

--
-- Name: ai_responses_id_seq; Type: SEQUENCE; Schema: public; Owner: cfg_db_new_user
--

CREATE SEQUENCE public.ai_responses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_responses_id_seq OWNER TO cfg_db_new_user;

--
-- Name: ai_responses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cfg_db_new_user
--

ALTER SEQUENCE public.ai_responses_id_seq OWNED BY public.ai_responses.id;


--
-- Name: cfg_sessions; Type: TABLE; Schema: public; Owner: cfg_db_new_user
--

CREATE TABLE public.cfg_sessions (
    id integer NOT NULL,
    session_id character varying(36) NOT NULL,
    user_id integer,
    code text NOT NULL,
    cfg_data json NOT NULL,
    static_analysis json,
    overall_explanation text,
    name character varying(255),
    description text,
    overall_cc integer,
    function_count integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.cfg_sessions OWNER TO cfg_db_new_user;

--
-- Name: cfg_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: cfg_db_new_user
--

CREATE SEQUENCE public.cfg_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cfg_sessions_id_seq OWNER TO cfg_db_new_user;

--
-- Name: cfg_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cfg_db_new_user
--

ALTER SEQUENCE public.cfg_sessions_id_seq OWNED BY public.cfg_sessions.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: cfg_db_new_user
--

CREATE TABLE public.refresh_tokens (
    id integer NOT NULL,
    token character varying(500) NOT NULL,
    user_id integer NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.refresh_tokens OWNER TO cfg_db_new_user;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: cfg_db_new_user
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO cfg_db_new_user;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cfg_db_new_user
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: cfg_db_new_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    full_name character varying(60) NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    is_active integer,
    ai_node_explain_used integer,
    ai_path_explain_used integer,
    ai_refactor_suggest_used integer,
    ai_refactor_code_used integer,
    ai_test_gen_used integer,
    ai_requests_reset_date date,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO cfg_db_new_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: cfg_db_new_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO cfg_db_new_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cfg_db_new_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: ai_responses id; Type: DEFAULT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.ai_responses ALTER COLUMN id SET DEFAULT nextval('public.ai_responses_id_seq'::regclass);


--
-- Name: cfg_sessions id; Type: DEFAULT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.cfg_sessions ALTER COLUMN id SET DEFAULT nextval('public.cfg_sessions_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: ai_responses; Type: TABLE DATA; Schema: public; Owner: cfg_db_new_user
--



--
-- Data for Name: cfg_sessions; Type: TABLE DATA; Schema: public; Owner: cfg_db_new_user
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: cfg_db_new_user
--

COPY public.refresh_tokens (id, token, user_id, expires_at, revoked, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: cfg_db_new_user
--



--
-- Name: ai_responses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cfg_db_new_user
--

SELECT pg_catalog.setval('public.ai_responses_id_seq', 43, true);


--
-- Name: cfg_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cfg_db_new_user
--

SELECT pg_catalog.setval('public.cfg_sessions_id_seq', 144, true);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cfg_db_new_user
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cfg_db_new_user
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: ai_responses ai_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.ai_responses
    ADD CONSTRAINT ai_responses_pkey PRIMARY KEY (id);


--
-- Name: cfg_sessions cfg_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.cfg_sessions
    ADD CONSTRAINT cfg_sessions_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: ai_responses unique_feature_hash; Type: CONSTRAINT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.ai_responses
    ADD CONSTRAINT unique_feature_hash UNIQUE (feature_type, input_hash);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_ai_cache; Type: INDEX; Schema: public; Owner: cfg_db_new_user
--

CREATE INDEX idx_ai_cache ON public.ai_responses USING btree (input_hash, feature_type);


--
-- Name: ix_cfg_sessions_id; Type: INDEX; Schema: public; Owner: cfg_db_new_user
--

CREATE INDEX ix_cfg_sessions_id ON public.cfg_sessions USING btree (id);


--
-- Name: ix_cfg_sessions_session_id; Type: INDEX; Schema: public; Owner: cfg_db_new_user
--

CREATE UNIQUE INDEX ix_cfg_sessions_session_id ON public.cfg_sessions USING btree (session_id);


--
-- Name: ix_refresh_tokens_id; Type: INDEX; Schema: public; Owner: cfg_db_new_user
--

CREATE INDEX ix_refresh_tokens_id ON public.refresh_tokens USING btree (id);


--
-- Name: ix_refresh_tokens_token; Type: INDEX; Schema: public; Owner: cfg_db_new_user
--

CREATE UNIQUE INDEX ix_refresh_tokens_token ON public.refresh_tokens USING btree (token);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: cfg_db_new_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_full_name; Type: INDEX; Schema: public; Owner: cfg_db_new_user
--

CREATE INDEX ix_users_full_name ON public.users USING btree (full_name);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: cfg_db_new_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: cfg_sessions cfg_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.cfg_sessions
    ADD CONSTRAINT cfg_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cfg_db_new_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO cfg_db_new_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO cfg_db_new_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO cfg_db_new_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO cfg_db_new_user;


--
-- PostgreSQL database dump complete
--

\unrestrict 7qagayvgap39bmibgFgnoBZ1uXkTWP1BKp7fWAnFhWvveCzJymDlpAC0zhegRAr

